
 *{
	margin: 0;
	padding: 0;
	

} 

body{
  background-color:whitesmoke;
 
  
}
.logo{
  
  color: black;
  text-decoration: none;
  
}
.head{
  height: 200px;
  width: 300px;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  border-radius: 20px;
  opacity: 7;
  
}
 
.head input[type='text'],input[type='password'],input[type='submit']{
  padding: 10px;
  margin: 15px;
  border-radius: 12px;
  outline: none ;
}
head input[type="text"]:hover,.head input[type="password"]:hover,.head input[type="submit"]:hover{

  
  border-color: whitesmoke;
}
.head input[type="text"]:focus,.head input[type="password"]:focus,.head input[type="submit"]:focus{

  width: 180px;
  border-color: white;
}

.head input[type="submit"]{
  outline: none;
}
.head input[type="submit"]:hover{
  background-color:black;
  color:whitesmoke;
}

.head input[type="submit"]{
  padding:5px 30px;
  outline: none;
  background-color: whitesmoke;
  cursor: pointer;
  margin-bottom: 20px;
  
}
.head a{

  color:white;
  text-decoration: none;
  cursor: pointer;
}
h1{
  font-size: 40px;
  padding: 20px 5px;
  
  
}
p{
  font-size: large;
}


.list{
  
  list-style: none;
  float: right;
  padding-right: 40px;
  margin: 20px;
 
}
.list li a:hover{
  background-color: whitesmoke;
  color:black;

}
home li{
  display: inline-block;
  
  transform: translate(0%,-140%);
  padding:20px;
  
}
home li a{
  text-decoration: none;
  border: 1px solid  #191919 ;
  border-radius: 24px;
  padding: 12px;
  background-color: #191919;
  color:white;
  

  
  
}
.signup h1{
  font-size: 40px;
  padding: 10px 5px;
  color: white;
}
.signup{
  height: 450px;
  width: 300px;
  padding: 30px 60px 60px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  border-radius: 20px;
  opacity: 7;
  
}
.signup input[type='text'],input[type='password'],input[type='submit']{
  padding: 10px;
  margin: 15px;
  border-radius: 12px;
  outline: none ;
}
.signup input[type="text"]:focus,.signup input[type="password"]:focus,.signup input[type="submit"]:focus{

  width: 180px;
  border-color: white;
  
}
.signup input[type="submit"]{
  outline: none;
  background-color: whitesmoke ;
  color: black;
  cursor: pointer;
}
.signup input[type="submit"]:focus{
  outline: none;
  background-color: black ;
  color: white;
  cursor: pointer;
}
.signup input[type="submit"]:hover{
  outline: none;
  background-color: rgb(48, 45, 45) ;
  color: whitesmoke;
  cursor: pointer;
}
home div{
  margin-top: 300px;
  margin-left: 380px;
  font-size: 40px;
  border-radius: 0px;
  
  
}
.intervene,.report{
  border-radius: 0px;
  
}
ome div ul:hover{
  border: 1px solid black;
  padding:5px;
  margin:15px;
  text-decoration: none;
  background-color:whitesmoke;
  color: black;

}
fieldset{
  width: 530px;
  align-items: center;
  padding: 20px;
  margin-left:380px;
  background-color: rgb(43, 39, 39);
}
legend{
  padding:10px;
  margin:10px;
  align-items: center;
  font-size: 25px;
  background-color: whitesmoke;
  color:black;
  
}
label{
  padding-bottom:0px;
  margin-bottom: 30px;
  font-size: 18px;
  color: whitesmoke;
  

}
fieldset input{
  margin: 10px 0px;
  padding: 10px;
  width: 330px;
  outline: none;
  
 
}
form p{
  padding: 10px 0px;
  color: whitesmoke;
}
form select{
  width: 200px;
  height:30px;
}
textarea{
  outline: none;
}
form input[type='submit']{
  width: 80px;
  background-color: black;
  color:white;
  outline: none;
  cursor: pointer;
}
form input[type='submit']:hover{
  width: 80px;
  background-color: whitesmoke;
  color:black;
  outline: none;
  cursor: pointer;
}
form input[type='file']{
  color: white;
}
.ok{
  height: 50px;
  width: 1230px;
  padding: 60px;
  position: absolute;
  top: 90%;
  left: 0%;
  
  transform: translate(-0.3%,-50%);
  background:black;
  color:whitesmoke;
}


